
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Work+Sans:wght@400;600;800&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    background-color: #FFF;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: #3A3A3A;;

}
nav li img{
    width: 24px;
    height: 24px;
}
nav > ul{
    display: flex;  
}
nav li{
    list-style: none;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 30px;
    color: #3A3A3A;
    
}
nav li a{
   text-decoration: none; 
   color: black;
}
/* Banner styles */
.banner-container{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.btn-img{
    color: aliceblue;
    background-color: #E02C6D;
    padding-top: px;
}
.banner-title{
    font-size: 3.5rem;
    font-weight: 700;
    width: 600px;
    color: #3A3A3A;
}
.banner-description{
    font-size: 1.5;
    font-weight: 600;
    width: 500px;
    color: #3A3A3A;;
}
.banner-img img{
    width: 440px;
    height: 414px;
    background-image: url(../icons/Subtract.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
    border-radius: 257px;
    border: 3px solid var(--brand-purple-100, #F1E4FF);

}
.primary-btn{
    background-color:#E02C6D;
    border: 0;
    border-radius: 40px;
    font-weight: 700;
    font-size: 1rem;
    padding: 10px 20px;
    color: aliceblue;
    
 }
.spoonser-img{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}
/* Collection Section */
.collection-section{
    margin: 80px 0;
}

.collection-items{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 30px;
    
}
.collection-content{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    width: 329px;
    height: 476px;
    padding: 20px 20px;
    margin: 0;
}
.collection-content img{
    width: 100%;
    height: auto;
}
.collection-title{
    font-size: 1.5rem;
    font-weight: 700;
}
.collection-content p{
    font-size: 1rem;
    font-weight: 500;
}
.collection-description{
    font-size: 1.5rem;   
}

.collection-section > h2{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}






@media screen and (max-width:576px) {
    nav, nav ul{
        flex-direction:column;
    }
    /* banner responsive */

    .banner-container{
        flex-direction: column-reverse;
        align-items: center;
    }
    .banner-img img{
        width: 440px;
        height: auto;  
    }

    .banner-title{
        font-size: 3rem;
        font-weight: 700;
        width: 550px;
        text-align: center;   
    }

    .banner-description{
        font-size: 1.2rem;
        font-weight: 600;
        width: 500;
        text-align: center;
    }
    .primary-btn{
    background-color:#E02C6D;
    border: 0;
    border-radius: 40px;
    font-weight: 700;
    font-size: 2rem;
    padding: 20px 40px;
    color: aliceblue;
    }
    .banner-content{
        text-align: center;
    }
    /* Spoonser section */
    .spoonser-img{
        display: grid;
        grid-template-columns: repeat(4, 4fr);
        align-items: center;
    }

}
